.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.form > button {
    width: 50%;
}

.form > input {
    width: 100%;
    margin-bottom: 4px;
}

p.alert-text {
    font-size: 65%;
    color: red;
    text-align: left;
    padding: 0;
    margin: 0 0 8px 0;
    width: 100%;
}
